.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
}

.App-left {
  background-color: #282c34;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-right{
  background-color: #fff;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.App-link {
  color: #09d3ac;
}
